:root{
    --background-body: #262c3c;
    --background-header: #333b4f;
    --color-base: #262c3b;
    --color-primary: #7182ae;
    --color-hover: #343f54;
    --color-hover-strong: #3a4359;
    --color-contrast: #b6b6b6;
    --color-success: #7181ac;
}