<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>&Omega;-L&lambda;&gamma;ers [Open Beta]</title>
    <link rel="stylesheet" href="css/main.css"/>
    <link id="theme" rel="stylesheet" href="css/themes/dark.css"/>
</head>
<body>
<div id="app">
    <header>
        <nav>
            <h2><span class="omega">&Omega;</span> - L &lambda; &gamma; e r s</h2>
            <button @click="settings.tab = 'Layers'">Layers</button>
            <button @click="settings.tab = 'Settings'">Settings</button>
        </nav>
        <layer-navigation v-if="settings.tab === 'Layers'" :layers="layers"></layer-navigation>
    </header>
    <main>
        <prestige-layer v-if="settings.tab === 'Layers'" :layer="currentLayer"></prestige-layer>
        <settings-menu v-if="settings.tab === 'Settings'"></settings-menu>
    </main>
    <footer>
        <div>
            <a href="https://discord.gg/75d7Jj5" target="_blank">Discord</a>
            <a href="https://www.cook1eegames.feedia.co" target="_blank">Website</a>
        </div>
        <p>Notice: Beta! This Game might still have bugs and it is incomplete, but surely playable. enjoy :)</p>
    </footer>
</div>

<script src="https://polyfill.io/v3/polyfill.min.js?features=Array.prototype.flat"></script>

<script src="js/break_eternity.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@antimatter-dimensions/notations"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="js/classes/random.js"></script>
<script src="js/classes/utils.js"></script>
<script src="js/classes/featureunlockmanager.js"></script>

<script src="js/classes/generator.js"></script>
<script src="js/classes/powergenerator.js"></script>
<script src="js/classes/upgrade.js"></script>
<script src="js/classes/challenge.js"></script>
<script src="js/classes/prestigelayer.js"></script>

<script src="js/components/layer-colored-text.js"></script>
<script src="js/components/generator.js"></script>
<script src="js/components/generator-table.js"></script>
<script src="js/components/resource-name.js"></script>
<script src="js/components/resource-display.js"></script>
<script src="js/components/upgrade.js"></script>
<script src="js/components/upgrade-container.js"></script>
<script src="js/components/upgrade-tree.js"></script>
<script src="js/components/upgrade-tree-arrow.js"></script>
<script src="js/components/challenge.js"></script>
<script src="js/components/challenge-table.js"></script>
<script src="js/components/current-challenge.js"></script>
<script src="js/components/prestige-layer.js"></script>
<script src="js/components/layer-navigation.js"></script>
<script src="js/components/settings-menu.js"></script>

<script src="js/data/functions.js"></script>
<script src="js/data/computed.js"></script>
<script src="js/data/game.js"></script>

<script src="js/main.js"></script>
</body>
</html>